target
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/conf/cas
cas/src/main/webapp/WEB-INF/deployerConfigContext.xml
/conf/cas-management
/conf/themes
/cas/src/themes
docker-compose.yml
**/github-src/*
dist
bower_components
!LdapAuthenticationHandler.class
